.main-page {
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    background-color: #dbb68f;
}
.main-title {
    margin: 0;
    color: white;
    text-align: center;
}
.main-loader {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-card {
    display: flex;
    margin: 15px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
}
iframe {
    /* position: fixed; */
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 80vh;
    z-index: 1;
    /* background: url('/assets/images/polina.jpg') no-repeat; */
    background-size: cover;
}